body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", "Baskerville", serif;
    font-size: 120%; /*ou font-size: 20px;*/
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}
.titulo-principal {
    /*background-color: rgb(133, 25, 68);*/
    /*margin: 0px;*/
    /*color: #FFFFFF; ou color: #FFF;*/
    /*font-family: "Arial";*/
    font-size: 3em;
    color: rgb(255, 255, 255);
    background-color: #851944;
    text-align: center;
    padding: 1.25rem;
    border-bottom: .5rem solid #000000;
}
h1 {
    text-transform: uppercase;
    text-shadow:5px 5px #000;
}
.conteudo-principal {
    padding-bottom: 4em;
}
main {
    width: calc(100% - 0.9 * 300px);
    flex-grow: 1;
}
main h1 {
	text-transform: uppercase;
}
main a {
    color: #851944;
}
.conteudo {
    width: 80ch;
    margin: auto;
    padding: 1.5em 0;
    /*margin-left: auto;
    margin-right: auto;*/
}
h2 {
    font-size: 1.5em;
    /*font-family: "Arial", sans-serif;*/
    clear: both;
}
.titulo-principal,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
p {
    text-align: justify;
    margin: 1em 0;
}
.navegacao-site {
    background-color: #3C1D3D;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: calc(0.9 * 300px);
    top: 300px;
    padding-top: calc(300px + 1em);
}
.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}
.navegacao-site ul {
    list-style-type: none;
}
.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}
/*aside li {
    display: inline-block;
}*/
.foto-joao {
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: .5em solid black;
}
.foto-joao,
.navegacao-site {
    border-left: .5em solid black;
    box-sizing: border-box;
}
.icones-sociais li {
    display: inline-block;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
    position: relative;
}
.icones-sociais a:hover::after,
.icones-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}
.icones-sociais a:hover::before,
.icones-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}
.github {
    background-image: url(../img/github.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}
.linkedin {
    background-image: url(../img/linkedin.png);
}
.rodape {
    background-image: radial-gradient(ellipse at left bottom, rgba(60, 29, 61, 0.8), rgba(60, 29, 61, 0.8) 65%, black 65%, black 70%, transparent 70%, transparent);
    width: 100%;
    background-size: 30% 100%;
    background-repeat: no-repeat;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}
.navegacao-site,
.rodape {
    padding: 1em;
}
nav a {
    text-transform: lowercase;
}
.navegacao-site,
nav a {
    color: #F2FFFC;
}
.navegacao-site a:hover,
.navegacao-site a:focus {
    text-shadow: 0 0 2px pink;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
main a:hover,
main a:focus,
footer a:hover,
footer a:focus {
    color: red;
}
