body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", "Baskerville", serif;
    font-size: 120%; /*ou font-size: 20px;*/
	line-height: 1.5;
}

.titulo-principal {
    /*background-color: rgb(133, 25, 68);*/
    /*margin: 0px;*/
    /*color: #FFFFFF; ou color: #FFF;*/
    /*font-family: "Arial";*/
    font-size: 3em;
    color: rgb(255, 255, 255);
    background-color: #851944;
    text-align: center;
    padding: 1.25rem;
	text-transform: uppercase;
    border-bottom: .5rem solid #000000;
}

h1 {
    text-transform: uppercase;
}

main {
    width: 85%;
    float: left;
    padding-bottom: 4em;
}

main a {
    color: #851944;
}

.conteudo {
    width: 80ch;
    margin: auto;
    padding: 1.5em 0;
    /*margin-left: auto;
    margin-right: auto;*/
}

h2 {
    font-size: 1.5em;
    /*font-family: "Arial", sans-serif;*/
    clear: both;
}

.titulo-principal,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
    text-align: justify;
    margin: 1em 0;
}

.navegacao-site {
    background-color: #3C1D3D;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.navegacao-site ul {
    list-style-type: none;
}

.navegacao-site h1{
    font-size: 1.5em;
    margin-bottom: 1em;
}

/*aside li{
    display: inline-block;
}*/

.foto-joao {
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site {
    width: 15%;
    position: relative;
    top: 300px;
}

.foto-joao, .navegacao-site {
    float: right;
    border-left: .5em solid black;
    border-bottom: .5em solid black;
    box-sizing: border-box;
}

.icones-sociais li{
    display: inline-block;
}

.icones-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

footer {
    background-color: rgb(0, 0, 0);
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.navegacao-site,
footer {
    padding: 1em;
}

nav a {
    text-transform: lowercase;
}

footer,
.navegacao-site,
nav a {
    color: #F2FFFC;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}
